<!DOCTYPE html>
<html lang="en">
<head>
    <title>The New York Times</title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="sourceApp" content="nyt-lire" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1" />
    <meta name="et2Host" content="https://a.et.nytimes.com/" />

    <style>
        @font-face {
            font-family: nyt-franklin;
            src: url(//typeface.nyt.com/fonts/nyt-franklin-300-normal.woff)
            format('woff');
            font-style: normal;
            font-weight: 300;
        }

        @font-face {
            font-family: nyt-franklin;
            src: url(//typeface.nyt.com/fonts/nyt-franklin-500-normal.woff)
            format('woff');
            font-style: normal;
            font-weight: 500;
        }

        html,
        body {
            height: 100%;
        }

        body {
            background: #fff;
            position: relative;
            margin: 0;
            font-size: 16px;
            font-family: 'nyt-franklin', arial, helvetica, sans-serif;
            -moz-text-size-adjust: 100%;
            -webkit-text-size-adjust: 100%;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }

        body.embedded {
            height: auto;
            overflow: hidden;
        }

        .full-page {
            display: flex;
            flex-flow: column nowrap;
            flex: 0 0 auto;
            height: 100%;
        }
    </style>
    <script>
    /* eslint-disable */
    /**
     * Provided by Akamai for integration with mPulse.
     * Original source available from mPulse settings.
     * See https://developer.akamai.com/akamai-mpulse-real-user-monitoring-solution for more details.
     */
    (function() {
      // Boomerang Loader Snippet version 14
      if (window.BOOMR && (window.BOOMR.version || window.BOOMR.snippetExecuted)) {
          return;
      }
    
      window.BOOMR = window.BOOMR || {};
      window.BOOMR.snippetStart = new Date().getTime();
      window.BOOMR.snippetExecuted = true;
      window.BOOMR.snippetVersion = 14;
    
      window.BOOMR.url = "https://s.go-mpulse.net/boomerang/" +
        "ATH8A-MAMN8-XPXCH-N5KAX-8D239";
    
      var // document.currentScript is supported in all browsers other than IE
          where = document.currentScript || document.getElementsByTagName("script")[0],
          // Parent element of the script we inject
          parentNode = where.parentNode,
          // Whether or not Preload method has worked
          promoted = false,
          // How long to wait for Preload to work before falling back to iframe method
          LOADER_TIMEOUT = 3000;
    
      // Tells the browser to execute the Preloaded script by adding it to the DOM
      function promote() {
          if (promoted) {
              return;
          }
    
          var script = document.createElement("script");
          script.id = "boomr-scr-as";
          script.src = window.BOOMR.url;
    
          // Not really needed since dynamic scripts are async by default and the script is already in cache at this point,
          // but some naive parsers will see a missing async attribute and think we're not async
          script.async = true;
    
          parentNode.appendChild(script);
    
          promoted = true;
      }
    
      // Non-blocking iframe loader (fallback for non-Preload scenarios) for all recent browsers.
      // For IE 6/7, falls back to dynamic script node.
      function iframeLoader(wasFallback) {
          promoted = true;
    
          var dom, doc = document, bootstrap, iframe, iframeStyle, win = window;
    
          window.BOOMR.snippetMethod = wasFallback ? "if" : "i";
    
          // Adds Boomerang within the iframe
          bootstrap = function(parent, scriptId) {
              var script = doc.createElement("script");
              script.id = scriptId || "boomr-if-as";
              script.src = window.BOOMR.url;
    
              BOOMR_lstart = new Date().getTime();
    
              parent = parent || doc.body;
              parent.appendChild(script);
          };
    
          // For IE 6/7, we'll just load the script in the current frame, as those browsers don't support 'about:blank'
          // for an iframe src (it triggers warnings on secure sites).  This means loading on IE 6/7 may cause SPoF.
          if (!window.addEventListener && window.attachEvent && navigator.userAgent.match(/MSIE [67]\./)) {
              window.BOOMR.snippetMethod = "s";
    
              bootstrap(parentNode, "boomr-async");
              return;
          }
    
          // The rest of this function is IE8+ and other browsers that don't support Preload hints but will work with CSP & iframes
          iframe = document.createElement("IFRAME");
    
          // An empty frame
          iframe.src = "about:blank";
    
          // We set title and role appropriately to play nicely with screen readers and other assistive technologies
          iframe.title = "";
          iframe.role = "presentation";
    
          // Ensure we're not loaded lazily
          iframe.loading = "eager";
    
          // Hide the iframe
          iframeStyle = (iframe.frameElement || iframe).style;
          iframeStyle.width = 0;
          iframeStyle.height = 0;
          iframeStyle.border = 0;
          iframeStyle.display = "none";
    
          // Append to the end of the current block
          parentNode.appendChild(iframe);
    
          // Try to get the iframe's document object
          try {
              win = iframe.contentWindow;
              doc = win.document.open();
          }
          catch (e) {
              // document.domain has been changed and we're on an old version of IE, so we got an access denied.
              // Note: the only browsers that have this problem also do not have CSP support.
    
              // Get document.domain of the parent window
              dom = document.domain;
    
              // Set the src of the iframe to a JavaScript URL that will immediately set its document.domain to match the parent.
              // This lets us access the iframe document long enough to inject our script.
              // Our script may need to do more domain massaging later.
              iframe.src = "javascript:var d=document.open();d.domain='" + dom + "';void 0;";
              win = iframe.contentWindow;
    
              doc = win.document.open();
          }
    
          if (dom) {
              // Unsafe version for IE8 compatibility. If document.domain has changed, we can't use win, but we can use doc.
              doc._boomrl = function() {
                  this.domain = dom;
                  bootstrap();
              };
    
              // Run our function at load.
              // Split the string so HTML code injectors don't get confused and add code here.
              doc.write("<bo" + "dy onload='document._boomrl();'>");
          }
          else {
              // document.domain hasn't changed, regular method should be OK
              win._boomrl = function() {
                  bootstrap();
              };
    
              if (win.addEventListener) {
                  win.addEventListener("load", win._boomrl, false);
              }
              else if (win.attachEvent) {
                  win.attachEvent("onload", win._boomrl);
              }
          }
    
          // Finish the document
          doc.close();
      }
    
      // See if Preload is supported or not
      var link = document.createElement("link");
    
      if (link.relList &&
          typeof link.relList.supports === "function" &&
          link.relList.supports("preload") &&
          ("as" in link)) {
          window.BOOMR.snippetMethod = "p";
    
          // Set attributes to trigger a Preload
          link.href = window.BOOMR.url;
          link.rel  = "preload";
          link.as   = "script";
    
          // Add our script tag if successful, fallback to iframe if not
          link.addEventListener("load", promote);
          link.addEventListener("error", function() {
              iframeLoader(true);
          });
    
          // Have a fallback in case Preload does nothing or is slow
          setTimeout(function() {
              if (!promoted) {
                  iframeLoader(true);
              }
          }, LOADER_TIMEOUT);
    
          // Note the timestamp we started trying to Preload
          BOOMR_lstart = new Date().getTime();
    
          // Append our link tag
          parentNode.appendChild(link);
      }
      else {
          // No Preload support, use iframe loader
          iframeLoader(false);
      }
    
      // Save when the onload event happened, in case this is a non-NavigationTiming browser
      function boomerangSaveLoadTime(e) {
          window.BOOMR_onload = (e && e.timeStamp) || new Date().getTime();
      }
    
      if (window.addEventListener) {
          window.addEventListener("load", boomerangSaveLoadTime, false);
      }
      else if (window.attachEvent) {
          window.attachEvent("onload", boomerangSaveLoadTime);
      }
    })();
    </script>        <script>
            window.nyt_errors = {
                sentryInstalled: false,
                list: [],
                env: 'production',
            };
            window.onerror = function(msg, url, lineNo, columnNo, error) {
                if (!window.nyt_errors.sentryInstalled) {
                    window.nyt_errors.list.push(error);
                }
            };
        </script></head>
<body>
<script>
    
(()=>{var ye=1e3,x="pageViewID",he="getPageViewID",S="contextID",me="getContextID",y="sourceApp",be="getSourceApp",J="NativeBridge",X="UserInfoAgentID",Ie="NativeBridge unavailable.",Ee="UserInfoAgentID unavailable.";async function se(e){try{await j(J);let t={};return await Promise.all([L(x,he,e),L(S,me,e),L(y,be,null)]).then(i=>{i.forEach(n=>{n.name==x?t[x]=n.id:n.name==S?t[S]=n.id:n.name==y&&(t[y]=n.id)})}),Promise.resolve(t)}catch(t){return Promise.reject(t)}}function oe(){if(!window||window.vi?.webviewEnvironment===void 0||!window.nyt_et_use_webview_dedup_logic)return!1;let e=window.vi.webviewEnvironment.isInWebview&&window.vi.webviewEnvironment.deviceType=="IOS",t=window.location?.pathname?.startsWith("/live/")||window.location?.pathname?.startsWith("/interactive/")||window.location?.pathname?.endsWith("/crosswords/spelling-bee-forum.html")||!1;var i=["nytios"];let n=i.some(o=>window.navigator?.userAgent?.includes(o));return e&&t&&n}function ae(){var e={subject:"page_update",assetUrl:(document.querySelector("link[rel=canonical]")||{}).href,assetId:(document.querySelector("meta[name=articleid]")||{}).content,nyt_uri:(document.querySelector("meta[name=nyt_uri]")||{}).content,url:location.href,client_tz_offset:new Date().getTimezoneOffset(),sourceApp:(document.querySelector("meta[name=sourceApp]")||{}).content||"nytcooking"};window.nyt_et("send",e)}function xe(e,t){window.NativeBridge.addEventListener(e+"DidChange",function(i){t(e,i)})}async function L(e,t,i){return window.NativeBridge.callNativeBridgeCommand(t).then(n=>{let o=n.values[e];return e!==y&&xe(e,i),Promise.resolve({name:e,id:o})})}async function j(e,t=0){return e===J&&window.NativeBridge||e===X&&window.config?.userInfo?.agentID?Promise.resolve():t>=ye?Promise.reject(e===J?Ie:Ee):new Promise((i,n)=>{setTimeout(function(){return j(e,t+1).then(i).catch(n)},10)})}function ue(e){return!!(Object.keys(e).length==2&&e.hasOwnProperty("gtm")&&e.hasOwnProperty("activeTime")||e.hasOwnProperty("eventData")&&Object.keys(e.eventData).length==2&&e.eventData.hasOwnProperty("gtm")&&e.eventData.hasOwnProperty("activeTime"))}function w(){var e,t,i=window.crypto||window.msCrypto;if(i)t=i.getRandomValues(new Uint8Array(18));else for(t=[];t.length<18;)t.push(Math.random()*256^(e=e||+new Date)&255),e=Math.floor(e/256);return btoa(String.fromCharCode.apply(String,t)).replace(/\+/g,"-").replace(/\//g,"_")}function ce(e,t){var i="",n="",o=!1,u=!1,_=!1,l=null,g=!1;if(typeof e=="string"&&e=="init"&&typeof t=="object"&&(o=!!t.intranet,u=!!t.force_xhr,_=!!t.store_last_response,l=t.event_gate_hostname||null,g=!!t.event_gate_all_events,typeof t.pv_id_override=="string"&&typeof t.ctx_id_override=="string"))if(t.pv_id_override.length>=24&&t.ctx_id_override.length>=24)i=t.pv_id_override,n=t.ctx_id_override;else try{console.warn("override id(s) must be >= 24 chars long")}catch(a){console.error(a)}return{pv_id:i,ctx_id:n,intra:o,store_last_response:_,force_xhr:u,event_gate_hostname:l,event_gate_all_events:g}}function Y(e,t,i,n,o,u,_,l){if(!n&&(_==="beacon"||l&&i)){var g=window.navigator.sendBeacon(e,t);return o&&(last_send_response=g),g}else{var a=typeof XMLHttpRequest<"u"?new XMLHttpRequest:new ActiveXObject("Microsoft.XMLHTTP");return a.open("POST",e),a.withCredentials=!0,a.setRequestHeader("Accept","*/*"),typeof t=="string"?a.setRequestHeader("Content-Type","text/plain;charset=UTF-8"):{}.toString.call(t)==="[object Blob]"&&t.type&&a.setRequestHeader("Content-Type",t.type),u&&a.setRequestHeader("ETJS-Ignore-Session-Info","true"),o&&!a.onload&&(a.onload=function(){last_send_response=a.response},a.onerror=function(v){last_send_response=!1}),a.send(t),!0}}function z(e,t){let i=3735928559^t,n=1103547991^t;for(let o=0,u;o<e.length;o++)u=e.charCodeAt(o),i=Math.imul(i^u,2654435761),n=Math.imul(n^u,1597334677);return i=Math.imul(i^i>>>16,2246822507),i^=Math.imul(n^n>>>13,3266489909),n=Math.imul(n^n>>>16,2246822507),n^=Math.imul(i^i>>>13,3266489909),4294967296*(2097151&n)+(i>>>0)}function Se(e){let t=z(e,64).toString();return t.length<22&&(t=parseInt(t).toString(36)+z(e,32).toString(36)+z(e,16).toString(36)),t}function Ae(){let e="(?:^|;)\\s*nyt-a=([^;]*)",t=window.document.cookie.match(new RegExp(e));return t?t[1]:null}function Te(){let e="(?:^|;)\\s*nyt-b-sid=([^;]*)",t=window.document.cookie.match(new RegExp(e));return t?t[1]:null}function _e(){var e=Ae();return e?Se(e,64).toString():null}function fe(e,t){return e.config&&e.config.userInfo&&e.config.userInfo.publisherProvidedID?e.config.userInfo.publisherProvidedID:e.localStorage&&e.localStorage.getItem("advertisingId")?e.localStorage.getItem("advertisingId"):t}function we(e,t){if(!Array.isArray(e)||t<=0)return console.error("chunkArray: Invalid array or chunk size"),[];let i=[];for(let n=0;n<e.length;n+=t)i.push(e.slice(n,n+t));return i}function le(){let e=null;function t(){let n=Te(),o=!1;if(!n){n=w(),o=!0;let u=new Date;u.setTime(u.getTime()+30*60*1e3);let _="nyt-b-sid="+n+"; expires="+u.toUTCString()+"; path=/; domain=.nytimes.com; samesite=Strict; secure";try{window.document.cookie=_}catch(l){console.error("createSessionManager: Failed to set session cookie:",l)}}return(!e||e.sessionID!==n)&&(e={sessionID:n,isNewSession:o}),e}function i(){return e?e.sessionID:null}return{getSession:t,getSessionId:i}}function pe(e,t,i=!1){let n=[{url:e,transform:function(o){return o},filter:function(o){return o}}];if(t){let o=t.endsWith("/")?t+"api/v1/events?fast":t+"/api/v1/events?fast";n.push({url:o,isEventGate:!0,transform:function(u){return{events:u.map(_=>{let{client_ts:l,subject:g,sourceApp:a,...v}=_;return{client_timestamp:l,event_type:g,source_app:a,event_data:v,tid:1e3}})}},filter:function(u){return i?u:u.filter(_=>_&&_.subject&&(_.subject==="session_start"||_.subject==="session_update"))}})}return n}function $(e,t,i,n,o,u,_){if(!(!e||e.length===0)){var l=JSON.stringify(e),g=JSON.parse(l);t.forEach(function(a){var v=a.filter(g);if(v.length>0){var D=a.isEventGate,p=D?30:v.length,R=we(v,p);R.forEach(function(h){if(h.length>0){var A=JSON.stringify(a.transform(h));i(a.url,A,!1,n.force_xhr,n.store_last_response,o,u,_)}})}})}}(function(e,t){if(e.nyt_et){console.warn("et2 snippet should only load once per page");return}var i,n,o="",u="",_=0,l,g=[],a,v,D,p={pv_id:"",ctx_id:"",intra:!1,force_xhr:!1,store_last_response:!1,event_gate_hostname:null,event_gate_all_events:!1},R=typeof e.navigator=="object"&&typeof e.navigator.userAgent=="string"&&/iP(ad|hone|od)/.test(e.navigator.userAgent),h=typeof e.navigator=="object"&&e.navigator.sendBeacon,A=h?R?"xhr_ios":"beacon":"xhr",f=oe(),m="",N="",O="",b=e?.config?.userInfo?.agentID,U=0,I=void 0;let ge=_e(),B=le(),d=f?null:B.getSession();b||async function(){try{await j(X),b=e?.config?.userInfo?.agentID}catch(r){console.error(r)}}();function de(r,s){if(r!==x&&r!==S&&r!==y){console.error("syncID got unknown id="+r);return}if(!(!s||!s.detail)){var c=s.detail[r]||s.detail.newID;c&&(r===x?m=c:r===S?N=c:r===y&&(O=c),ae())}}function G(r){if(g.length!==0){var s=[...g];g.length=0,$(s,D,Y,p,f,A,h),clearTimeout(a),a=null}}function P(r){var s,c,k,T,W,H,E=r[0],C=fe(e,ge);if(typeof E=="string"&&/init/.test(E)&&(""+JSON.stringify(r),H=!0,p=ce(E,r[3]),u=p.pv_id||w(),_+=1,E=="init"&&!o)){if(o=p.ctx_id||w(),typeof r[1]=="string"&&/^http/.test(r[1]))i=String(r[1]).replace(/([^/])$/,"$1/"),n=i+"track",D=pe(n,p.event_gate_hostname,p.event_gate_all_events);else throw new Error("init must include an et host url");if(typeof r[2]=="string")l=r[2];else throw new Error("init must include a source app name")}var V=r.length-1;if(r[V]&&typeof r[V]=="object"&&(s=r[V]),!s&&!/init/.test(E)?console.warn("when invoked without 'init' or 'pageinit', nyt_et() must include a event data"):s&&!s.subject&&console.warn("event data {} must include a subject"),!f&&!p.intra&&(d=B.getSession(),d.isNewSession&&(I=void 0)),!i||!(s&&s.subject)){console.log("ERROR: data must contain subject and et_base_url must be set");return}function ee(re){let ve={...b&&{agent:{id:b}},...!f&&!p.intra&&{session_id:d.sessionID},context_id:o,pageview_id:u,event_id:w(),...C&&{user_nyt_ad_id:C},client_lib:t,sourceApp:l,intranet:p.intra?1:void 0,subject:re,how:A,client_ts:+new Date};$([ve],D,Y,p,f,A,h),I=re}d&&d.isNewSession&&!I&&!p.intra&&!f&&(ee("session_start"),d.isNewSession=!1),H&&d&&!d.isNewSession&&!I&&!p.intra&&!f&&ee("session_update");let F=_==1;var te=!1;if(f&&H&&F&&s.subject=="page"&&(s.subject="page_update",te=!0),c=s.subject,delete s.subject,T=c=="page_exit"||(s.eventData||{}).type=="ob_click",W=c=="page_update",f&&T&&(c="page_update",T=!1,W=!0),f&&W&&ue(s)){U+=1;return}c=="page"||c=="page_soft"?k=u:k=w();let q=u,ne=o,ie=l;f&&F&&(q=m,ne=N,ie=O||l),!(q===""||o==="")&&(g.push({...b&&{agent:{id:b}},...!f&&!p.intra&&{session_id:d.sessionID},context_id:ne,pageview_id:q,event_id:k,...C&&{user_nyt_ad_id:C},client_lib:t,sourceApp:ie,intranet:p.intra?1:void 0,subject:c,how:T&&R&&h?"beacon_ios":A,client_ts:+new Date,data:JSON.parse(JSON.stringify(s))}),E=="send"||k==u||T||te?G(T):(E=="soon"&&(clearTimeout(a),a=setTimeout(G,200)),a||(a=setTimeout(G,5500))))}e.nyt_et=function(){var r=arguments;if(f&&m===""){e.nyt_et_buffer=e.nyt_et_buffer||[],e.nyt_et_buffer.push(r);return}P(r)};var K=!1;function Q(){if(f&&m===""){return}if(K){Z(e.nyt_et_buffer);return}e.nyt_et_buffer=e.nyt_et_buffer||[],Z(e.nyt_et_buffer),e.nyt_et_buffer.push=new Proxy(e.nyt_et_buffer.push,{apply:function(r,s,c){return console.table("calling window.nyt_et",s,c),P(c),r.apply(s,c)}}),K=!0}Q();var M=0;function Z(r=[]){if(!l){let s=r?.findIndex(c=>typeof c[0]=="string"&&c[0]==="init");""+s.toString(),s>-1&&P(r[s])}""+M;for(let s=M;s<r.length;s++){let c=r[s];""+M+s,typeof c[0]=="string"&&c[0]!=="init"&&(console.log("non-init event at pos="+s.toString()),P(c)),M++}}e.nyt_et.get_pageview_id=function(){return f&&_>=1?m:u},e.nyt_et.get_context_id=function(){return f&&_>=1?N:o},e.nyt_et.get_session=function(){if(!f&&!p.intra&&(d=B.getSession(),d.isNewSession&&(I=void 0)),!!d)return{sessionID:d.sessionID,isNewSession:I===void 0?d.isNewSession:I==="session_start"}},e.nyt_et.get_source_app=function(){return f&&_>=1?O:l},e.nyt_et.get_host=function(){return i},e.nyt_et.is_running_in_webview=function(){return f},e.nyt_et.get_native_pageview_id=function(){return m},e.nyt_et.get_native_context_id=function(){return N},e.nyt_et.get_native_source_app=function(){return O},e.nyt_et.get_native_agent_id=function(){return b},e.nyt_et.get_buffer_len=function(){g.length},e.nyt_et.get_buffer=function(){return g},e.nyt_et.get_last_send_response=function(){var r=v;return r&&(v=null),r},e.nyt_et.get_num_blocked_heartbeats=function(){return U},e.nyt_et.reset_blocked_heartbeat_counts=function(){U=0},f&&(console.log("et.js use_webview_dedup_logic enabled."),se(de).then(r=>{N=r[S],m=r[x],O=r[y],Q()}).catch(console.error).finally(console.log))})(window,"v1.6.1");})();



    var referrer = document.referrer || null;
    var sourceApp = document.querySelector('meta[name=sourceApp]') || {};
    var sourceAppContent = sourceApp.content || null;
    var et2Host = document.querySelector('meta[name=et2Host]') || {};
    var url = et2Host.content || 'https://a.et.nytimes.com/';
    var isIframe = window !== window.parent;

    nyt_et('init', url, sourceAppContent, {
        subject: 'page',
        url: location.href,
        referrer: referrer,
        client_tz_offset: (new Date).getTimezoneOffset(),
        is_iframe: isIframe
    });
</script><script>
  !function(r){var n,t;r="undefined"!=typeof globalThis?globalThis:r||self,n=r.Abra,(t=r.Abra=function(){"use strict";var r=Array.isArray,n=function(r,n,t){var e=r(t,n),u=e[0],o=e[1];if(null==u||""===u)return n;for(var i=String(u).split("."),a=0;a<i.length&&(n=n[i[a]]);a++);return null==n&&(n=o),null!=n?n:null},t=function(r,n,t){return r(t,n).reduce((function(r,n){return parseFloat(r)+parseFloat(n)}),0)},e=function(r,n,t){var e=r(t,n);return e[0]/e[1]},u=function(r,n,t){var e=r(t,n);return e[0]%e[1]},o=function(r,n,t){return r(t,n).reduce((function(r,n){return parseFloat(r)*parseFloat(n)}),1)},i=function(r,n,t){var e=r(t,n),u=e[0],o=e[1];return void 0===o?-u:u-o};function a(n){return!(r(n)&&0===n.length||!n)}var f=function(r,n,t){for(var e,u=0;u<t.length;u++)if(!a(e=r(t[u],n)))return e;return e},c=function(r,n,t){var e;for(e=0;e<t.length-1;e+=2)if(a(r(t[e],n)))return r(t[e+1],n);return t.length===e+1?r(t[e],n):null},l=function(r,n,t){return!a(r(t,n)[0])},v=function(r,n,t){for(var e,u=0;u<t.length;u++)if(a(e=r(t[u],n)))return e;return e},d=function(r,n,t){var e=r(t,n);return e[0]===e[1]},s=function(r,n,t){var e=r(t,n);return e[0]!==e[1]},h=function(r,n,t){var e=r(t,n),u=e[0],o=e[1];return!(!o||void 0===o.indexOf)&&-1!==o.indexOf(u)},g=function(r,n,t){var e=r(t,n);return e[0]>e[1]},p=function(r,n,t){var e=r(t,n);return e[0]>=e[1]},b=function(r,n,t){var e=r(t,n),u=e[0],o=e[1],i=e[2];return void 0===i?u<o:u<o&&o<i},w=function(r,n,t){var e=r(t,n),u=e[0],o=e[1],i=e[2];return void 0===i?u<=o:u<=o&&o<=i},y=function(r,n,t){var e=t[0],u=t[1],o=t.slice(2),i=r(e,n);if(!i)return null;if(0===o.length)return null;if(1===o.length)return r(o[0],n);if(4294967295===o[0])return r(o[1],n);for(var a=function(r){var n,t,e,u,o,i=[],a=[t=1732584193,e=4023233417,~t,~e,3285377520],f=[],c=unescape(encodeURI(r))+"\x80",l=c.length;for(f[r=--l/4+2|15]=8*l;~l;)f[l>>2]|=c.charCodeAt(l)<<8*~l--;for(n=l=0;n<r;n+=16){for(t=a;l<80;t=[t[4]+(i[l]=l<16?~~f[n+l]:2*c|c<0)+1518500249+[e&u|~e&o,c=341275144+(e^u^o),882459459+(e&u|e&o|u&o),c+1535694389][l++/5>>2]+((c=t[0])<<5|c>>>27),c,e<<30|e>>>2,u,o])c=i[l-3]^i[l-8]^i[l-14]^i[l-16],e=t[1],u=t[2],o=t[3];for(l=5;l;)a[--l]+=t[l]}return a[0]>>>0}(i+" "+r(u,n));o.length>1;){var f=o.splice(0,2),c=f[0],l=f[1];if(a<=r(c,n))return r(l,n)}return 0===o.length?null:r(o[0],n)},k=function(r,n,t){var e=t[0],u=t[1],o=r(e,n);return null==o?null:new RegExp(u).test(o)};return function(a,m,O,A){void 0===a&&(a={}),void 0===m&&(m={}),void 0===O&&(O={}),void 0===A&&(A=!1);var j=function(){var r={},n=function(n){if(n)for(var t,e=decodeURIComponent(n[1]),u=/(?:^|,)([^,=]+)=([^,]*)/g;t=u.exec(e);){var o=t,i=o[1],a=o[2];r[i]=a||null}};n(document.cookie.match(/(?:^|;) *abra-overrides=([^;]+)/)),n(window.location.search.match(/(?:\?|&)abra-overrides=([^&]+)/));var t=/(?:^|;) *abra-nuke=true(?:;|$)/.test(document.cookie)||/(?:\?|&)abra-nuke=true(?:&|$)/.test(window.location.search);return[r,t]}(),x=j[0],E=j[1];Object.keys(O).forEach((function(r){x[r]=O[r]}));var F,C=A||E,R=(F={var:n,if:c,"===":d,"!==":s,and:f,or:v,"!":l,">":g,">=":p,"<":b,"<=":w,"+":t,"-":i,"*":o,"/":e,"%":u,in:h,abtest_partition:y,regex_match:k,ref:function(r,n,t){var e=r(t,n)[0];return U(e)}},function n(t,e){if(e||(e={}),r(t))return t.map((function(r){return n(r,e)}));if(!function(n){return"object"==typeof n&&null!==n&&!r(n)&&1===Object.keys(n).length}(t))return t;var u=function(r){return Object.keys(r)[0]}(t),o=t[u];r(o)||(o=[o]);var i=F[u];if(!i)throw new Error("Unrecognized operation "+u);return i(n,e,o)}),U=function(r){if(!r)return null;var n=x[r];if(void 0===n){if(!C){if(Object.prototype.hasOwnProperty.call(x,r))throw new Error("circular logic");x[r]=void 0,n=R(a[r],m)}void 0===n&&(n=null),x[r]=n}return n};return U}}()).noConflict=function(){return r.Abra=n,t}}(this);

</script><script>
if ('5F35800FA2155BC5833193CFCB9E4D') {
    !function (a, b, c, d, e, f) {
        a.ddjskey = e;
        a.ddoptions = f || null;
        var m = b.createElement(c), n = b.getElementsByTagName(c)[0];
        m.async = 1, m.src = d, n.parentNode.insertBefore(m, n);
    }(window, document, "script", "https://dd.nytimes.com/tags.js", '5F35800FA2155BC5833193CFCB9E4D', {
       ajaxListenerPath: "nytimes.com/svc/lire_ui/",
       endpoint: "https://dd.nytimes.com/js/",
    });
}
</script>
<div id="myAccountAuth" class="full-page" data-auth-options="{&quot;abraConfig&quot;:{&quot;.ver&quot;:29653,&quot;AUTH_FORGOT_PASS_LIRE&quot;:{&quot;abtest_partition&quot;:[{&quot;var&quot;:&quot;agent_id&quot;},&quot;AUTH_FORGOT_PASS_LIRE&quot;,4294967295,&quot;1_Variant&quot;]}},&quot;statsigConfig&quot;:{&quot;statsigKey&quot;:&quot;client-fNZXTqgGnEt7dEFtPhCJ5SqktCXvhqPAmqVzdaqqNBp&quot;,&quot;statsigOptions&quot;:{&quot;environment&quot;:{&quot;tier&quot;:&quot;production&quot;},&quot;networkConfig&quot;:{&quot;api&quot;:&quot;https://www.nytimes.com/statsig/&quot;,&quot;downloadConfigSpecsUrl&quot;:&quot;https://static01.nyt.com/statsig/config/client-fNZXTqgGnEt7dEFtPhCJ5SqktCXvhqPAmqVzdaqqNBp&quot;}},&quot;statsigUser&quot;:{&quot;ip&quot;:&quot;146.75.236.1, 146.75.236.1,157.52.117.73&quot;,&quot;userAgent&quot;:&quot;Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/18.1.1 Safari/605.1.15&quot;,&quot;customIDs&quot;:{&quot;stableID&quot;:&quot;NcmomVPqd7_QRoemD1w5Kz&quot;,&quot;agent_id&quot;:&quot;NcmomVPqd7_QRoemD1w5Kz&quot;,&quot;pageview_id&quot;:&quot;&quot;},&quot;custom&quot;:{&quot;country&quot;:&quot;US&quot;,&quot;device_type&quot;:&quot;desktop&quot;,&quot;is_on_internal_network&quot;:false,&quot;target_application&quot;:&quot;login-form&quot;,&quot;test_user&quot;:&quot;undefined&quot;}},&quot;statsigValues&quot;:&quot;{\&quot;can_record_session\&quot;:true,\&quot;dynamic_configs\&quot;:{\&quot;190246438\&quot;:{\&quot;group\&quot;:\&quot;prestart\&quot;,\&quot;id_type\&quot;:\&quot;agent_id\&quot;,\&quot;is_device_based\&quot;:false,\&quot;is_experiment_active\&quot;:false,\&quot;is_user_in_experiment\&quot;:false,\&quot;name\&quot;:\&quot;190246438\&quot;,\&quot;rule_id\&quot;:\&quot;prestart\&quot;,\&quot;secondary_exposures\&quot;:[],\&quot;value\&quot;:{}},\&quot;2579518896\&quot;:{\&quot;group\&quot;:\&quot;inlineTargetingRules\&quot;,\&quot;id_type\&quot;:\&quot;agent_id\&quot;,\&quot;is_device_based\&quot;:false,\&quot;is_experiment_active\&quot;:false,\&quot;is_user_in_experiment\&quot;:false,\&quot;name\&quot;:\&quot;2579518896\&quot;,\&quot;rule_id\&quot;:\&quot;inlineTargetingRules\&quot;,\&quot;secondary_exposures\&quot;:[],\&quot;value\&quot;:{}},\&quot;396128544\&quot;:{\&quot;group\&quot;:\&quot;launchedGroup\&quot;,\&quot;group_name\&quot;:\&quot;Control\&quot;,\&quot;id_type\&quot;:\&quot;agent_id\&quot;,\&quot;is_device_based\&quot;:false,\&quot;is_experiment_active\&quot;:false,\&quot;is_user_in_experiment\&quot;:false,\&quot;name\&quot;:\&quot;396128544\&quot;,\&quot;rule_id\&quot;:\&quot;launchedGroup\&quot;,\&quot;secondary_exposures\&quot;:[],\&quot;value\&quot;:{\&quot;registration_method\&quot;:\&quot;bau\&quot;}},\&quot;4107254978\&quot;:{\&quot;group\&quot;:\&quot;launchedGroup\&quot;,\&quot;group_name\&quot;:\&quot;Password as default\&quot;,\&quot;id_type\&quot;:\&quot;agent_id\&quot;,\&quot;is_device_based\&quot;:false,\&quot;is_experiment_active\&quot;:false,\&quot;is_user_in_experiment\&quot;:false,\&quot;name\&quot;:\&quot;4107254978\&quot;,\&quot;rule_id\&quot;:\&quot;launchedGroup\&quot;,\&quot;secondary_exposures\&quot;:[],\&quot;value\&quot;:{\&quot;login_method\&quot;:\&quot;password\&quot;}},\&quot;615067493\&quot;:{\&quot;group\&quot;:\&quot;launchedGroup\&quot;,\&quot;group_name\&quot;:\&quot;Control\&quot;,\&quot;id_type\&quot;:\&quot;agent_id\&quot;,\&quot;is_device_based\&quot;:false,\&quot;is_experiment_active\&quot;:false,\&quot;is_user_in_experiment\&quot;:false,\&quot;name\&quot;:\&quot;615067493\&quot;,\&quot;rule_id\&quot;:\&quot;launchedGroup\&quot;,\&quot;secondary_exposures\&quot;:[],\&quot;value\&quot;:{\&quot;login_method\&quot;:\&quot;bau\&quot;}},\&quot;68906937\&quot;:{\&quot;group\&quot;:\&quot;launchedGroup\&quot;,\&quot;group_name\&quot;:\&quot;Control\&quot;,\&quot;id_type\&quot;:\&quot;agent_id\&quot;,\&quot;is_device_based\&quot;:false,\&quot;is_experiment_active\&quot;:false,\&quot;is_user_in_experiment\&quot;:false,\&quot;name\&quot;:\&quot;68906937\&quot;,\&quot;rule_id\&quot;:\&quot;launchedGroup\&quot;,\&quot;secondary_exposures\&quot;:[],\&quot;value\&quot;:{\&quot;login_method\&quot;:\&quot;bau\&quot;}}},\&quot;evaluated_keys\&quot;:{\&quot;agent_id\&quot;:\&quot;NcmomVPqd7_QRoemD1w5Kz\&quot;,\&quot;pageview_id\&quot;:\&quot;\&quot;,\&quot;stableID\&quot;:\&quot;NcmomVPqd7_QRoemD1w5Kz\&quot;},\&quot;feature_gates\&quot;:{\&quot;1406569045\&quot;:{\&quot;id_type\&quot;:\&quot;agent_id\&quot;,\&quot;name\&quot;:\&quot;1406569045\&quot;,\&quot;rule_id\&quot;:\&quot;7fyOlXowoIsu4NBX0tGSFJ\&quot;,\&quot;secondary_exposures\&quot;:[],\&quot;value\&quot;:true},\&quot;1869862052\&quot;:{\&quot;id_type\&quot;:\&quot;agent_id\&quot;,\&quot;name\&quot;:\&quot;1869862052\&quot;,\&quot;rule_id\&quot;:\&quot;3kvvttOHzL3yQcG3AL4JxZ:0.00:1\&quot;,\&quot;secondary_exposures\&quot;:[],\&quot;value\&quot;:false}},\&quot;has_updates\&quot;:true,\&quot;hash_used\&quot;:\&quot;djb2\&quot;,\&quot;layer_configs\&quot;:{},\&quot;param_stores\&quot;:{},\&quot;recording_blocked\&quot;:false,\&quot;sdkInfo\&quot;:{\&quot;sdkType\&quot;:\&quot;statsig-server-core-node\&quot;,\&quot;sdkVersion\&quot;:\&quot;0.7.3\&quot;},\&quot;sdkParams\&quot;:{},\&quot;session_recording_rate\&quot;:1.0,\&quot;time\&quot;:1777993635949,\&quot;user\&quot;:{\&quot;custom\&quot;:{\&quot;country\&quot;:\&quot;US\&quot;,\&quot;device_type\&quot;:\&quot;desktop\&quot;,\&quot;is_on_internal_network\&quot;:false,\&quot;target_application\&quot;:\&quot;login-form\&quot;,\&quot;test_user\&quot;:\&quot;undefined\&quot;},\&quot;customIDs\&quot;:{\&quot;agent_id\&quot;:\&quot;NcmomVPqd7_QRoemD1w5Kz\&quot;,\&quot;pageview_id\&quot;:\&quot;\&quot;,\&quot;stableID\&quot;:\&quot;NcmomVPqd7_QRoemD1w5Kz\&quot;},\&quot;ip\&quot;:\&quot;146.75.236.1, 146.75.236.1,157.52.117.73\&quot;,\&quot;statsigEnvironment\&quot;:{\&quot;tier\&quot;:\&quot;production\&quot;},\&quot;userAgent\&quot;:\&quot;Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/18.1.1 Safari/605.1.15\&quot;}}&quot;},&quot;asset&quot;:&quot;masthead&quot;,&quot;authToken&quot;:&quot;H4sIAAAAAAAAA31QXWvCMBT9Lxe6p07TtOkXyNiDBX0cDnyTm/RGg21TkqgT538flrGHMfZ4OJ+cG6D3FKCGHn04ELYQg+QSao2dpxhUZ2gIpoUazgZiaI0fO7z+8PQxGkce6qQoSpYmrGAxjOfJwLkQGgVVgiUcUykzySWTJUrGOOaPKkfYkls91BNqjSMVdidnoIZDCKOv5/PL5TIbrsH05GfK9nN/kl45MwZjh7kdpEXXmmH/bLUm96KwH9Hsh1W7KNbNevu03K42u/e31WLKi9LXiDcRb36lRryZFvjRDp524ToS1KCsPRqCGII7Qn376y1Hmpwjtzu57p/RcI8h4MYeafg5L+CyR9N94/snyyUnUWGeaUVlnqUVLwirJGtLRE6VTismdKrLSgqhuOBpgpQrrkqudFZUX6gOx3jOAQAA&quot;,&quot;campaignId&quot;:&quot;&quot;,&quot;clientId&quot;:&quot;vi&quot;,&quot;currentYear&quot;:&quot;2026&quot;,&quot;displayVariation&quot;:false,&quot;topLevelError&quot;:&quot;&quot;,&quot;userName&quot;:&quot;&quot;,&quot;displayType&quot;:&quot;full-page&quot;,&quot;environment&quot;:&quot;production&quot;,&quot;eventTrackerUrl&quot;:&quot;//et.nytimes.com/&quot;,&quot;hostName&quot;:&quot;https://myaccount.nytimes.com&quot;,&quot;jkiddHost&quot;:&quot;a.nytimes.com&quot;,&quot;mnlConsentRequired&quot;:false,&quot;mnlConsentHidden&quot;:true,&quot;preferredView&quot;:&quot;enterEmail&quot;}"></div>
<script type="text/javascript" src="/lire_ui/js/unified-lire.bundle.js?v&#x3D;4868983"></script>

    <script src="/lire_ui/js/sentry.bundle.js" defer></script>
</body>
</html>